@font-face {
    font-family: 'Gooper';
    src: url('/static/fonts/Gooper-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body, html {
    background-color: black;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gooper', serif;
    color: white; /* This sets the default text color to white */
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Added to ensure the content is full-width */
}

h2 {
    color: #FFFF00; /* Yellow color for headings */
    margin-bottom: 20px; /* Space below the header */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust width as needed */
    max-width: 400px; /* Maximum width of the form */
}

input[type="file"] {
    margin: 10px 0;
}

input[type="submit"] {
    background-color: #FFFF00; /* Green background for submit button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Full width of the parent container */
}

input[type="submit"]:hover {
    background-color: #FFFF75; /* Darker green on hover */
}

.shaken-images img {
    width: 100px; /* Adjust width as necessary */
    height: auto;
    margin: 10px;
    border: 2px solid #ccc; /* Grey border */
    border-radius: 4px; /* Rounded corners */
}
