body, html {
    background-color: black;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cooper', serif; /* Make sure the font name is correct */
}

.container {
  text-align: center; /* Center align text */
}

/* Add any additional styling below */
/* ... */

h2 {
    color: #FFFF00;
    font-family: 'Gooper', sans-serif;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    margin: 10px 0;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@font-face {
  font-family: 'Gooper';
  src: url('/static/fonts/Gooper-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: bold;
}
